{{ define "main" }}
<h1>{{ .Title | title }}</h1>


<div class="clr-row">
{{ range .Pages }}
    <div class="clr-col-12">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title"><a class="title" href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h3>
                <p class="card-text">
                    {{ .Summary }}
                </p>
                <a href="{{ .Permalink }}">Read more</a>
            </div>
            <div class="card-footer">
                {{ range .Params.links }}
                    <a class="btn btn-sm btn-link" href="{{ .url }}" target="_blank">{{ .display }}</a>
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}
</div>

{{ end }}