{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ range .Params.links }}
    <a class="btn btn-sm btn-link" href="{{ .url }}" target="_blank">{{ .display }}</a>&nbsp;|&nbsp;
{{ end }}
{{ .Content }}
<h2>Recent Content</h2>

{{ range first 10 (where .Site.Pages "Params.author.key" .Params.me) }}
{{ partial "article-list-single.html" . }}
{{ end }}

{{ end }}