<div class="clr-col-12">
    <div class="card">
        <div class="card-block">
            <h3 class="card-title"><a class="title" href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h3>
            <p class="card-text">
                {{ .Summary }}
            </p>
            <a href="{{ .Permalink }}">Read more</a>
        </div>
        <div class="card-footer">
            {{ partial "metadata.html" . }}
        </div>
    </div>
</div>