<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}</title>

<link rel="stylesheet" href="/css/clr-ui.4.0.6.min.css" />
<link rel="stylesheet" href="/css/clr-icons.4.0.6.min.css" />
<link rel="stylesheet" href="/css/main.css" />
