<header class="header header-7">
    <div class="branding">
        <a href="/" class="nav-link">
            <span class="title">SharkOps</span>
        </a>
    </div>
</header>
<nav class="subnav">
    <ul class="nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="nav-item"><a class="nav-link nav-item-{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
        {{ end }}
    </ul>
</nav>
